@model IEnumerable<DataBase.Models.ViewModels.DataBaseView> 
<div class="siderTop">
    <select name="dbname" class="dbname">
        <option value="">请选择数据库</option>
        @foreach (var db in Model)
        {
            <option value="@db.name">@db.name</option>
        }
    </select> 
    <input type="text" value=""  placeholder="模糊匹配表名" name="tableName" class="tableName" />
</div>
<div>
    <div class="siderView">
        <div class="siderViewTable"  data-selectd="1" data-fun="table"><a href="javascript:void(0);">表</a></div>
        <div class="siderViewView" data-selectd="0" data-fun="view"><a href="javascript:void(0);">视图</a></div>
        <div class="siderViewFunction" data-selectd="0" data-fun="function"><a href="javascript:void(0);">存储过程</a></div>
    </div>
    <div class="treeView">
        <ul data-name="treeTable" data-connName="@(ViewBag.conn)" style="margin-top:3px;"></ul>
    </div>
    <div class="tableView" style="display:none;">
        <ul data-name="treeView" data-connName="@(ViewBag.conn)" style="margin-top:3px;"></ul>
    </div>
    <div class="procedure" style="display:none;" >
        <ul data-name="treeProcedure" data-connName="@(ViewBag.conn)" style="margin-top:3px;"></ul>
    </div>
</div> 
 
